
backend/Instagram/Instagram/bin/
backend/Instagram/instagram/obj/
backend/Instagram/instagram/Resources/


/backend/Instagram/.vs
/backend/Instagram/Instagram/bin
/backend/Instagram/Instagram/obj
/frontend/.vscode
